.vscode/**
.vscode-test/**
.claude/**
.husky/**
out/**
node_modules/**
src/**
test/**
.gitignore
.yarnrc
.editorconfig
.prettierignore
.prettierrc.json
esbuild.js
vsc-extension-quickstart.md
CLAUDE.md
**/tsconfig*.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
**/*.vsix
